<div data-theme="d" style="height:60px;text-align: center">
    <a href="week1.html" data-role="button" data-inline="true" data-ajax="false"><img src="assets/calendar_dark.png" width="20"></a>
    <a href="resources.html" data-role="button" data-inline="true" data-ajax="false"><img src="assets/book_dark.png" width="20"></a>
    <a href="help.html" data-role="button" data-inline="true" data-ajax="false"><img src="assets/help_dark.png" width="20"></a>
    <a href="search.html" data-role="button" data-inline="true" data-ajax="false"><img src="assets/search_dark.png" width="20"></a>
    <a href="settings.html" data-role="button" data-inline="true" data-ajax="false"><img src="assets/gear_dark.png" width="20"></a>
</div><!-- /grid-b -->
